.createMessage {
  padding: 13px 8px;
  border-top: 1px solid #999;
  &__form {
    display: flex;
    justify-content: space-between;
  }
  &__input {
    display: block;
    width: 100%;
    margin-right: 15px;
    padding-top: 0;
    border: none;
    border-bottom: 1px solid #999;
    &:focus {
      outline: none;
      border-bottom: 1px solid #06f;
    }
  }
  &__send {
    height: 32px;
    background: #3E8BFF;
    border: none;
    font-size: 16px;
    color: #fff;
    padding: 9px 12px;
    line-height: 0.7;
    border-radius: 100px;
    cursor: pointer;
    &:disabled {
      cursor: default;
      opacity: 0.5;
    }
    @media (max-width: 360px) {
      font-size: 14px;
    }
  }
}