@import "~normalize.css";

body {
  font-family: "Roboto";
}

a {
  text-decoration: none;
  color: inherit;
}

main {
  box-sizing: border-box;
  height: calc(100vh - 71px);
}

.container {
  max-width: 900px;
  margin: 0 auto;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  @media (max-width: 901px) {
    border: none;
  }
}