@import "~normalize.css";

body {
  font-family: "Roboto";
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

main {
  box-sizing: border-box;
  height: calc(100vh - 71px);
  @media (max-width: 730px) {
    padding-left: 10px;
  }
}

.container {
  max-width: 900px;
  margin: 0 auto;
  border-left: 1px solid #999;
  border-right: 1px solid #999;
  @media (max-width: 901px) {
    border: none;
  }
}