.container {
  max-width: 500px;
  margin: 0 auto;
  padding: 30px 10px 20px 10px;
}

.body {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 30px;
  @media (max-width: 600px) {
    flex-direction: column;
  }
  button {
    display: block;
    box-sizing: border-box;
    width: 100%;
    margin-top: 20px;
  }
}

.userAvatar {
  width: 140px;
  flex: 0 0 140px;
  margin-right: 25px;
  @media (max-width: 600px) {
    margin-right: 0;
    margin-bottom: 15px;
  }
}

.avatar {
  width: 140px;
  height: 140px;
  border-radius: 100%;
  overflow: hidden;
  background: #c4c4c4;
  margin-bottom: 7px;
  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.inputImg {
  width: 140px;
  height: 38px;
  position: relative;
  input {
    opacity: 0;
    position: absolute;
    width: 140px;
    height: 38px;
    z-index: 10;
  }
  label {
    width: 140px;
    box-sizing: border-box;
    text-align: center;
    opacity: 1;
    position: absolute;
    top: 0;
    font-size: 16px;
    background: #fff;
    border: 2px solid #5a9cff;
    color: #222;
    z-index: 1;
  }
}

.userInfo {
  margin-top: -50px;
  @media (max-width: 600px) {
    margin-top: 0;
  }
}

.userInput {
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding-bottom: 3px;
  font-size: 28px;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 5px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0);
  border-radius: 0;
  &:focus {
    outline: none;
    border-bottom: 1px solid #666;
  }
  @media (max-width: 600px) {
    text-align: center;
  }
}

.userPost {
  margin-top: 5px;
  font-size: 21px;
  font-weight: 500;
  color: #777;
  @media (max-width: 600px) {
    text-align: center;
  }
}

.btnExit {
  display: block;
  width: 100%;
  margin-top: 7px;
  background: #ffae00;
  border-color: #ff8800;
}

.btnDelete {
  display: block;
  width: 100%;
  margin-top: 7px;
  background: #ff3b09;
  border-color: #db0000;
}

.toRegistration {
  text-align: center;
  font-size: 20px;
  a {
    color: #0066ff;
    text-decoration: underline;
  }
}